<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>留言簿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
  <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<div id="main">
    <h1>留言簿</h1>

    <div id="form-area">
        <p>请尽情留言吧:</p>

        <form action="liuyan" method="post">
            <table>
                <tr>
                    <th>姓名</th>
                    <td>
                        <input  type="text" size="20" name="name" value="{{name}}">
                    </td>
                </tr>
                <tr>
                    <th>内容</th>
                    <td>
                        <textarea rows="5" cols="40" name="comment" >{{comment}}</textarea>
                    </td>
                </tr>
            </table>
            <p>
                <button type="submit" >提交</button>
            </p>
        </form>

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}

    </div>

    <div id="entries-area">
        <h2>留言历史信息</h2>
        <div class="entry">
            <ul>
                {% for greeting in greeting_list%}
                <li><h3><span id="name">{{greeting.name}}</span>留言于:<span id ="create_at">{{greeting.create_at}}</span></h3>
                <p><span id="comment">{{greeting.comment}}</span></p></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>

