<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/js/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" id="name"  value="{{
          request.data.username }}">
         <input type="password" placeholder="Password" id="pwd" name="password" value="{{
          request.data.password }}">
        <input class="btn btn-default" id="bt" type="button" onclick="return false;" value="Login">   
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

<script>

$(function(){
  $("#bt").click(function(){
    post();
  })
})

function post(){

  data={username:$("#name").val(), password:$("#pwd").val()}
  console.log(JSON.stringify(data))
    $.ajax({
        type : 'POST', 
        url : 'login', 
        contentType: "application/json;charset=utf-8",
        dataType : 'json',
        data : JSON.stringify(data), 
        //json 转成字符串
        success : function(last) { console.log("登录成功",data); }, 
        error : function(xhr, textStatus, errorThrown) {
            console.log("登录失败"); 
            var msg = xhr.responseText; 
            console.log(textStatus)
          //  var response = JSON.parse(msg); 
        //    console.log(response); } 
        }})
}


</script>