<html>
  <head>
    <title>Flask Intro - register page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Please sign up </h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" id="#name" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" id="#pwd" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" id="#bt" type="submit" value="Sign up">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

